/*auto*/

:root {
	--font: Arial;
}

html,body { margin: 0; padding: 0; }

.yellow { color: #d7cd17 !important; }
.npt { padding-top: 0 !important; }
.npb { padding-bottom: 0 !important; }
.nmt { margin-top: 0 !important; }
.nmb { margin-bottom: 0 !important; }
.mr5 { margin-right: 5px; }
.ml5 { margin-left: 5px; }
.mb10 { margin-bottom: 10px; }

.alert { background-color: #fffad7; border-color: #fffdbf; padding: 15px; border-radius: var(--radius); color: #988e56; font-size: 12px; }
.alert .fa { margin-right: 5px; }

.padding { padding: 20px; }
.hidden { display: none; }
.logo { display: block; margin: 17px 20px 0; float: left; width: 90px; }

header { height: 60px; border-bottom: 1px solid #E0E0E0; }
button.menu { display: none; position: fixed; bottom: 20px; right: 20px; width: 60px; height: 60px; border: 0; border-radius: 50%; color: white; background-color: var(--color); font-size: 24px; z-index: 100; }

h1 { margin: 0 0 20px; font-family: var(--font); font-size: 25px; padding: 0; color: black; }
h1 i { margin-right: 10px; }

h2 { margin: 0 0 15px; font-family: var(--font); font-size: 20px; padding: 0; color: black; line-height: 22px; }
h2 i { margin-right: 10px; color: var(--color); }

.b { font-weight: bold; }
.m { margin-bottom: 20px; }
#body { border-left: 1px solid #E0E0E0; min-height: 200px; padding: 20px 20px 20px 40px; margin-left: 20px; }

.bg-yellow { background-color: #FFFFD5; }
.bg-smoke { background-color: #F8F8F8; }

.mainmenu { background-color: white; border-radius: var(--radius); padding: 30px 0 20px; }
.mainmenu .caption { font-size: 12px; font-family: var(--font); font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
.mainmenu .caption i { margin-right: 5px; }
.mainmenu-visible { display: block !important; }
.mainmenu .ui-dropdown select { font-weight: bold; }

.ui-panel .caption { font-size: 12px; font-family: var(--font); font-weight: 700; margin-bottom: 10px; text-transform: uppercase; color: black; border-bottom: 1px solid #E0E0E0; padding: 0 0 5px 0; }
.ui-panel .caption i { margin-right: 5px; }

.links { font-family: var(--font); }
.links a { display: block; border: 0; text-align: left; color: gray; font-size: 14px; border-radius: var(--radius); padding: 7px 10px; margin-bottom: 1px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; position: relative; }
.links .selected { font-weight: bold; color: black; background-color: #F0F0F0; }
.links a i, .links a i { width: 14px; text-align: center; font-size: 12px; margin-right: 7px; color: var(--color); }
.links a:hover { text-decoration: none; color: black; }
.links a b { position: absolute; font-size: 10px; right: 5px; background-color: var(--color); color: white; width: 16px; height: 16px; padding: 1px 0 0 0; border-radius: 100px; text-align: center; margin: 2px 0 0; }

.help { font-size: 11px; color: #A0A0A0; margin-top: 8px; line-height: 13px; }
.help i { margin-right: 5px; }
.help code { font: normal normal 11px Arial; background-color: #F0F0F0; padding: 1px 3px; border-radius: 2px; border: 1px solid #E0E0E0; }

.table-small { font-size: 12px; }
.table-small > tbody > tr > td { padding: 3px 5px; }

header .user { float: right; margin: 0; padding: 8px 20px 0; height: 60px; border-left: 1px solid #E0E0E0; }
header .user .avatar { border-radius: 100px; width: 40px; height: 40px; background-color: var(--color); text-align: center; font-family: var(--font); color: white; font-size: 16px; padding: 9px 0 0 0; font-weight: bold; }
header .tools { float: right; font-size: 18px; padding: 14px 20px 0 0; }
header .tools a { color: gray; position: relative; display: inline-block; margin-left: 20px; transition: color 0.5s; font-size: 12px; line-height: 14px; }
header .tools a i { margin-right: 5px; font-size: 18px; vertical-align: middle; }
header .tools a span { vertical-align: middle; }
header .tools a:hover { color: black; text-decoration: none; }
header .tools a:last-child { color: var(--color); font-weight: bold; }

.button { background-color: var(--color); border: 0; color: white; cursor: pointer; outline: 0; width: 100%; border-radius: var(--radius); height: 44px; text-transform: uppercase; font-family: Arial; }
.button:hover { box-shadow: 0 2px 5px rgba(0,0,0,0.1); opacity: 0.9; }
.button:disabled { background-color: #E0E0E0; color: silver; cursor: not-allowed; box-shadow: none; opacity: 1; }
.button i { margin-right: 5px; }

.header { height: 45px; }
.header > span { font-size: 17px; font-weight: bold; float: left; margin: 2px 0 0 0; color: black; }
.header > span i { margin-right: 8px; color: var(--color); }
.header > div { float: right; margin: 2px 0 0; }

@media(max-width: 767px) {
	.mainmenu { position: absolute; left: 0; right: 0; z-index: 5; padding: 0; display: none; top: 0; overflow: hidden; }
	.mainmenu .scroller-xs { padding: 20px; overflow-y: auto; overflow-scrolling: touch; }
	#body { border-left: 0; margin-left: 0; padding: 10px; }
	header .tools span { display: none; }
	button.menu { display: block; }
}

.right { text-align: right; }
.center { text-align: center; }